body{
  background-color: black;
}
.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 3rem;
  color: white;
}

button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:background-color 0.5s ease;
}

.add-button{
  background-color: rgb(176, 255, 127);

}

.add-button:hover{
  background-color: rgb(12, 138, 40);
}

.delete-button{
  background-color: hsl(10, 90%, 50%)

}

.delete-button:hover{
  background-color: hsl(10, 90%, 40%)
}

.move-button{
background-color: hsl(189, 98%, 63%);
}

.move-button:hover{
  background-color: hsl(189, 45%, 64%);
}

input[type="text"]{
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 4px;
  color: black;
  align-items: center;
}

ol{
  padding: 0;
}

li{
  font-size: 1.5rem;
  font-weight:bold;
  padding: 15px;
  background-color: rgb(248, 248, 249);
  margin-bottom: 10px;
  border: 2px solid rgb(192, 192, 194);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.2rem;
  margin-left: 10px;
}
